{% extends "lectionary/base.html" %}
{% block content %}
    <h1 class="mb-12 mt-16 text-center text-5xl font-semibold text-red-800">About</h1>
    <p class="my-4">
        This is a website for the Sunday, Holy Day, and Commemoration Lectionary of
        the
        <a class="text-red-800 underline" href="https://anglicanchurch.net/">Anglican Church in North America</a>, as found in the
        <a class="text-red-800 underline"
           href="https://bcp2019.anglicanchurch.net/">Book of Common Prayer 2019</a>.
    </p>
    <p class="my-4">
        The primary purpose of this site is to provide a convenient way for pastors,
        worship leaders, and church administrators to get accurate information about
        upcoming holy days in the lectionary. In particular, this site provides a
        number of features that should prove useful for those who are responsible
        for creating bulletins and Scripture inserts for their local congregations.
    </p>
    <p class="my-4">
        Normally, the process looks something like this: check your calendar date
        for the upcoming Sunday, do some mental arithmetic to determine the
        corresponding holy day in the lectionary, flip through the Prayer Book to
        find the designated propers and lessons, search online for the Scripture
        text, and then do your best to copy and paste all the relevant bits into
        your document without forgetting or misclicking anything. As someone who has
        spent countless hours doing so for my own parish, I know firsthand just how
        tedious and error prone this can be.
    </p>
    <h2 class="mb-4 mt-8 text-3xl text-red-800">How to Use</h2>
    <p class="my-4">
        Most of the site should be fairly self-explanatory. By default, the main
        page shows all the upcoming holy days over the next two weeks. If you need
        to look further ahead (or behind) you can set your own start and end dates
        and click the search button.
    </p>
    <p class="my-4">
        Clicking on the name of a holy day will take you to its detail page, where
        the Collect and Lessons for the day are displayed, along with other bits of
        liturgical information. If you're making a bulletin or Scripture insert, you
        can click the big copy button to have all those texts automagically copied
        into your system clipboard. Copy. Paste. Prosper.
    </p>
    <p class="my-4">
        Psalter quotations are taken from the New Coverdale Psalter found in the
        Prayer Book. Scripture quotations are taken from the
        <a class="text-red-800 underline" href="https://www.esv.org/">English Standard Version</a>
        of the Bible, since this is the translation used in the Prayer Book.
        Quotations of the apocrypha are taken from the New Revised Standard Version.
    </p>
    <h2 class="mb-4 mt-8 text-3xl text-red-800">Coming Soon?</h2>
    <ul>
        <li class="list-inside list-disc">Allow users to choose different translations (KJV, NIV, etc).</li>
        <li class="list-inside list-disc">Traditional language Psalter and collects.</li>
        <li class="list-inside list-disc">Allow users to choose between alternate readings.</li>
        <li class="list-inside list-disc">Automagic PDF generation for Scripture inserts.</li>
        <li class="list-inside list-disc">Pretty colors.</li>
    </ul>
    <h2 class="mb-4 mt-8 text-3xl text-red-800">Want to Help?</h2>
    <p class="my-4">
        The source code for this website can be found on
        <a class="text-red-800 underline"
           href="https://github.com/wtwingate/lectionary">GitHub</a>. If you find any bugs, please feel free to create an issue there and I'll
        get to it as soon as possible.
    </p>
    <p class="my-4">
        If you're a programmer, data-cruncher, or otherwise meticulous person,
        suggestions and pull requests are more than welcome!
    </p>
{% endblock %}
