{% extends "lectionary/base.html" %}
{% block content %}
    <article class="mx-auto max-w-3xl [&>p]:my-4">
        <h1 class="mb-12 mt-24 text-center text-6xl font-semibold">About</h1>
        <p>
            The primary purpose of this site is to provide a convenient way for
            pastors, worship leaders, and church administrators to get accurate
            information about upcoming Sundays, Holy Days, and Commemorations,
            as found in the
            <a class="underline" href="https://bcp2019.anglicanchurch.net/">Book of Common Prayer 2019</a>. In particular, this site provides a number of features that should
            prove useful for those who are responsible for creating bulletins and
            Scripture inserts for their local congregations.
        </p>
        <h2 class="mx-auto mt-8 max-w-3xl text-2xl font-semibold">How to Use</h2>
        <p>
            Most of the site should be fairly self-explanatory. By default, the main
            page shows all the upcoming holy days over the next two weeks. If you
            need to look further ahead (or behind) you can set your own start and
            end dates and click the search button.
        </p>
        <p>
            Clicking on the name of a holy day will take you to its detail page,
            where the Collect and Lessons for the day are displayed, along with
            other bits of liturgical information. If you're making a bulletin or
            Scripture insert, you can click the big copy button to have all those
            texts automagically copied into your system clipboard. Copy. Paste.
            Prosper.
        </p>
        <p>
            Psalter quotations are taken from the New Coverdale Psalter found in the
            Prayer Book. Scripture quotations are taken from the
            <a href="https://www.esv.org/">English Standard Version</a>
            of the Bible, since this is the translation used in the Prayer Book.
            Quotations of the apocrypha are taken from the New Revised Standard
            Version.
        </p>
        <h2 class="mx-auto mb-4 mt-8 max-w-3xl text-2xl font-semibold">Coming Soon</h2>
        <ul>
            <li class="list-inside list-disc">Traditional language Scripture, Psalter, and collects.</li>
            <li class="list-inside list-disc">Allow users to choose between alternate readings.</li>
            <li class="list-inside list-disc">Automagic PDF generation for Scripture inserts.</li>
        </ul>
        <h2 class="mx-auto mb-4 mt-8 max-w-3xl text-2xl font-semibold">Want to Help?</h2>
        <p>
            The source code for this website can be found on my
            <a href="https://github.com/wtwingate/lectionary">GitHub</a>. If you
            find any bugs, please feel free to create an issue there and I'll get to
            it as soon as possible.
        </p>
        <p>
            If you're a programmer, data-cruncher, or otherwise meticulous person,
            suggestions, contributions, and pull requests are more than welcome!
        </p>
    </article>
{% endblock %}
