{% load static %}
<!DOCTYPE html>
<html class="bg-neutral-200" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'src/output.css' %}" />
        <title>
            {% block title %}Lectionary{% endblock %}
        </title>
    </head>
    <body class="mx-auto max-w-4xl p-8 text-neutral-950 bg-neutral-50 shadow-2xl">
        <header class="text-xl flex flex-row justify-between">
            <span>
                <a href="{% url 'index' %}">lectionary2019.com</a>
            </span>
            <span class="flex flex-row gap-4">
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
            </span>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p class="text-center">Made with ❤️ by William Wingate.</p>
        </footer>
    </body>
</html>
