<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ day.name }}</title>
</head>
<body>
    {%if day.service is not None %}
    <h1>{{ day.name }}: {{ day.service }}</h1>
    {% else %}
    <h1>{{ day.name }}</h1>
    {% endif %}
    <button id="copy-button">Copy lessons to clipboard</button>
    <ul>
        {% for lesson in lessons %}
        <h2>{{ lesson.reference }}</h2>
        <div>{{ lesson.scripture | safe }}</div>
        {% endfor %}
    </ul>
    <script>
        var texts = JSON.parse("{{ texts | escapejs }}");
    </script>
    <script src="{% static 'lectionary/clipboard.js' %}"></script>
</body>
</html>