{% extends "lectionary/base.html" %}
{% block title %}Lectionary{% endblock %}
{% block content %}
    <h1 class="my-24 text-5xl text-center font-semibold text-red-800">The Lectionary</h1>
    <form class="max-w-full my-12 mx-auto" method="GET">
        <div class="my-8 mx-auto max-w-72 flex flex-row justify-between items-center">
            <label class="text-xl italic text-red-800" for="start">Start</label>
            <input class="px-4 py-1 text-neutral-800 bg-neutral-50 border-red-800 border-solid border-2"
                   type="date"
                   id="start"
                   name="start" />
        </div>
        <div class="my-8 mx-auto max-w-72 flex flex-row justify-between items-center">
            <label class="text-xl italic text-red-800" for="end">End</label>
            <input class="px-4 py-1 text-neutral-800 bg-neutral-50 border-red-800 border-solid border-2"
                   type="date"
                   id="end"
                   name="end" />
        </div>
        <button class="my-12 max-w-fit mx-auto block px-8 py-2 text-neutral-50 bg-red-800 hover:bg-red-900"
                type="submit">Search</button>
    </form>
    {% for item in lectionary %}
        {% if item.day.service is not None %}
            <h2 class="text-2xl mt-8 mb-4 text-red-800">
                <a class="underline" href="{{ item.day.get_absolute_url }}">{{ item.day.name }}: {{ item.day.service }}</a>
            </h2>
        {% else %}
            <h2 class="text-2xl mt-8 mb-4 text-red-800">
                <a class="underline" href="{{ item.day.get_absolute_url }}">{{ item.day.name }}</a>
            </h2>
        {% endif %}
        <p class="italic mb-1">{{ item.date }}</p>
        <ul>
            {% for lesson in item.day.lesson_set.all %}<li class="list-disc list-inside">{{ lesson.reference }}</li>{% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
